body{
    background-color: #F9F9F9;
    width: 100vw;
    height: 300vh;
    margin:0;
}





  .buttons {
    display: flex;
    margin-left:7vw ;
    position:sticky;
    top: 0px;
    
    background-color: #ffffff;
    
    z-index: 100;
  }

.buttons input, .buttons button{
    
    border:0;
    margin: 0.7vw;
    background-color: #ffffff;
    font-size: 20px;
    color: rgb(150, 150, 150);
}

.buttons input{
    font-weight: 700;
    font-size: 23px;
}
.reg-box form{
    background-color: rgb(255, 255, 255);
    margin:5vh 7vw ;
    height: 118vh;
}

.buttons input:hover, .buttons button:hover,.filebox label i:hover{
    color:#000000;
}

.boardTitle{
    font-size: 45px;
    width: 69vw;
    height: 15vh;
    border: 0;
    margin: 5vh 0 0 7vw;
    padding-left: 2vw;
    padding-top: 3vh;
    border-bottom: 2px solid rgb(199, 199, 199);
}
.boardTitle::placeholder{
    font-size: 45px;
    color: rgb(150, 150, 150);
}
.boardTitle:focus{
    outline: none;
}

.filebox label i{
    margin-left: 1.5vw;
    margin-top: 2vh;
    font-size: 20px;
    color: rgb(150, 150, 150);
    padding: 0;
}
.filebox::before{
    content: " |";
    font-weight: 100;
    font-size: 20px;
    margin-left: 1vw;
    color: rgb(204, 204, 204);
}


.content{
    font-size: 20px;
    width: 79vw;
    height: 55vh;
    border: 0;
    margin-left:7vw;
    padding-left: 7vw;
    padding-top: 3vh;
    background-color: #ffffff;
    position: relative;
    right: 7vw;
    padding-bottom:5vh;
    margin-bottom: 2vh;
    overflow: auto;
}
.content::-webkit-scrollbar{
    width: 5px;
    
}
.content::-webkit-scrollbar-thumb {
    background: rgb(255, 149, 149);
    height: 20%;
}
.content::-webkit-scrollbar-track {
    background: rgba(255, 127, 161, 0.1);  /*스크롤바 뒷 배경 색상*/
}

.content:focus{
    outline: none;
}

#cautionImage{
    margin-left: 15px;
    font-size: 11px;
    color: rgb(142, 142, 142);
    position: relative;
    top:10px;
}





.image-box {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    
    
  }
.putInPhoto{
    display: flex;

  }
li{
    list-style: none;
}
.corab{
    margin-left: 1vw;
    background-color: #FFF5F5;
    height: 18vh;
    width: 63vw;
    
    border: 0;
    padding-left: 2vw;
    overflow: auto;
    margin-right: 1vw;
   
    
}
div.corab{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
input.corab{
    font-size: 16px;
    margin-left: 1vw;
    background-color: #FFE4E4;
    height: 7vh;
    width: 62.85vw;
    padding-left: 2vw;
    border: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-right: 1vw;
   
}
input.corab::placeholder{
    color:#848484;
}
.corabBox{
    background-color: #ffffff;
    margin-top: 10vh;
    padding-bottom: 20vh;
}
li.firstLi{
    margin-right: 9vw;
}
.corabBox li{
    display: flex;
    justify-content: center;
    position: relative;
    left: 3vw;
    margin-bottom: 8vh;

}
.corab1{
    width: 8vw;
    height: 5.2vh;
    background-color: #FFE4E4;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    font-size: 16px;
    padding-top: 2.2vh;
    

}
.corab2{
    width: 7.76vw;
    height: 6.7vh;
    background-color: #FFF5F5;
    margin-bottom: 3vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 0;
    text-align: center;
    font-size: 16px;


}
#firstcorab{
    width: 7.76vw;
    height: 6.7vh;
    background-color: #FFF5F5;
    margin-bottom: 3vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 0;
    text-align: center;
    font-size: 16px;
}

.corab3{
    width: 8vw;
    height: 5.2vh;
    background-color: #FFE4E4;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    font-size: 16px;
    padding-top: 1.55vh;


}
.corab4,#secondcorab{
    width: 7.76vw;
    height: 6.7vh;
    background-color: #FFF5F5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 0;
    text-align: center;
    font-size: 16px;

}
.corab4::placeholder,#secondcorab::placeholder,.corab2::placeholder,#firstcorab::placeholder{
    color:#b6b6b6;
    font-size: 13px;
}

.plusBtn{
    color:#F67777;
    border: 0;
    background-color: #ffffff;
    font-size: 35px;
    

}

.trashBtn{
    border: 0;
    background-color: #ffffff00;
    font-size: 17px;
    position: relative;
    right:10vw;
    top: 2.3vh;
    display: flex;
}
.trashBtn i{
    margin-right: 1.8vw;
}
.finalBox{
    display: flex;
    justify-content:space-around;
    
    height: 11vh;
    width: 86vw;
    background-color: #ebeaea;
    font-weight: 600;
    position: relative;
    bottom: 15vh;
    
}
.finalBox div:first-child{
    display:flex;
    margin-top: 1.5vh;
    position: relative;
    left: 20vw;
}
.finalBox div:last-child{
    display:flex;
    position: relative;
    
    margin-top: 1.5vh;
  

}
.finalBox p{
    margin-right: 1vw;
}
.noneBtn{
    
    color:#F67777;
    font-size: 35px;
    position: relative;
    right: 8.7vw;
    margin:0;
    
}

.finalBtn{
    background-color: #cacaca;
    width: 25vw;
    height: 11vh;
    z-index: 300;
    position: relative;
    bottom: 4vh;
    text-align: center;
    
}
.finalBtn:hover{
    background-color: #b4b4b4;
}
.finalBtn p{
    color:#000000;
    font-weight: 600;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.line{
    width: 90%;
    border: 1px solid rgb(227, 227, 227);
    position: relative;
    bottom: 6vh;
}

#map{
    margin-left: 9vw;
    border-radius: 20px;
    margin-top: 10vh;

}
.search{
    position: relative;
    bottom: 78vh;
    display: flex;
    justify-content: center;
    
    
}
#address{
    width: 60vw;
    margin-right: 1vw;
    height: 5vh;
    border-radius: 10px;
    border:1px solid rgb(207, 207, 207);
    background-color: #e9e5e595;
    padding-left: 20px;
}
#submit{
    width: 2.5vw;
    height: 5.5vh;
    border-radius: 10px;
    border: 0px;
    font-size: 30px;
    background-color: #F67777;
    color: #ffffff;
    font-weight: 100;
}
.inputAddress{
    position: relative;
    bottom: 80vh;
    margin-left: 8vw;
}

.inputAddress thead{
    margin-left: 100px;
}

.submitBtn{
    position: relative;
    bottom: 40vh;
    left: 9vw;
    width: 70vw;
    margin-right: 1vw;
    height: 7vh;
    color: #ffffff;
    background-color: #F67777;
    border-radius: 10px;
    border: 0px;
    font-size: 20px;
    font-weight: 600;
}

.hashTag{
    position: relative;
    bottom:53vh;
    margin-left: 8vw;
    width: 70vw;
    padding-left: 1vw;
    height: 6vh;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 10px;
}

.sun{
    position: relative;
    bottom:50vh;
    
    width: 90%;
    border: 0.5px solid rgb(226, 226, 226);
    
   
    
}

.hashTagList{
    display: flex;
    position: relative;
    bottom:50vh;
    margin-left: 3vw;
    

}
.hashTagList li{
    margin-right: 1vw;
    background-color: #d7d7d7;
}
.hashTagList li i{
    color: #acacac;
}